.aboutGoodsMainContainer {
  display: flex;
  justify-content: center;
}

.aboutGoodContainer {
  display: flex;
  width: 45%;
  gap: 84px;
  margin-top: 50px;
  text-align: center;
}

.aboutGoodInfo h4 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.aboutGoodInfo img {
  margin-bottom: 25.7px;
}

.aboutGoodInfo div {
  font-size: 14px;
  font-weight: 400;
  /* width: 25%; */
}

.line {
  width: 240px;
  height: 1px;
  background-color: #000;
  margin: 0 auto;
  margin-top: 73px;
  margin-bottom: 60px;
}

@media (max-width: 836px) {
  .aboutGoodContainer {
    flex-direction: column;
    align-items: center;
  }

  .aboutGoodContainer {
    width: 85%;
  }

  .coffeCup {
    width: 50%;
  }

  .aboutGoodInfo {
    /* width: 80%; */
  }

  .aboutGoodInfo div {
    font-size: 24px;
  }
}
